header {
  background-color: #a4c401;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

header > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1.5rem;
  cursor: pointer;
}
