<main>
        <div class="horse-image-container">
            <div class="horse-image-content">
                <div class="insurence-info">
                    
                    <h2>Pferdeversicherung der LVM</h2>   
                    <p>
                        Die Pferdeversicherung der LVM ist eine Versicherung für Pferde. 
                        Sie deckt verschiedene Risiken ab, die bei Pferden auftreten können.
                        Außerdem bietet die LVM auch Versicherungen für Pferdehalter an.
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="content-container">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl id aliquam tincidunt, 
                nisl nisl aliquam nisl, nec aliquam nisl nisl id nisl. Nullam auctor, nisl id aliquam tincidunt. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl id aliquam tincidunt, 
                nisl nisl aliquam nisl, nec aliquam nisl nisl id nisl. Nullam auctor, nisl id aliquam tincidunt.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl id aliquam tincidunt, 
                nisl nisl aliquam nisl, nec aliquam nisl nisl id nisl. Nullam auctor, nisl id aliquam tincidunt. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </p>
        </div>
</main>
