
// Definition von Global styles möglich

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main-green: #a4c401;
  --text-color: #333;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
