// Dog-specific styles
main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 8rem);
}

.animal-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.animal-image-container {
  width: 100%;
  height: 32rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('../../../public/dog.jpg'); 
  background-size: 145%;
  background-position: 0% 40%;
  
  // Overlay
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
  }
}

.animal-image-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.info-box {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;

  h2 {
    color: #000;
    margin-bottom: 0.75rem;
    font-size: 1.8rem;
  }
  
  p {
    line-height: 1.5;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}